<!-- Portfolio Grid Section -->
    <section id="program" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <h4 class="section-subheading text-muted"></h4>
                </div>
            </div>
            <strong> Monday, 17 November 2025 </strong> <br/>
            Time: 9:00am - 5:30pm CST; Location: America’s Center Convention Complex - Room 265 <br/>
            <a href="https://sc25.supercomputing.org/program/workshops/">Link to SC25 workshop page</a> <br/>
            <br/>

        <table>
          <tr>
            <td>9:00-9:05</td>
            <td>Opening Remarks and Welcome</td>
          </tr>
          <tr>
              <td> 9:05-10:00 </td>
              <td> Invited Talk: <strong>TBD</strong> <br/>Dr. Kyle Chard, University of Chicago</td>
          </tr>
          <tr>
              <td>10:00-10:30</td>
              <td> <strong>Morning Break</strong> </td>
          </tr>
          <tr>
              <td>10:30-10:55</td>
              <td> <strong>Design and Implementation of a Custom Hardware Accelerator for SZx Compression in Chipyard</strong> (full paper)<br/> Connor Bohannon, Kazutomo Yohsii, Sheng Di, Franck Cappello, Antonino Miceli<br/><font color="#8E236B"> <strong>Best Paper Award</strong> </font></td>
          </tr>
          <tr>
              <td>10:55-11:20</td>
              <td> <strong>Evaluating Accuracy and Performance Tradeoffs in GPU Accelerated Single Cell RNA-seq Analysis</strong>  (full paper)<br/>Cory Gardner<br/><font color="#8E236B"> <strong>Best Paper Runner-up Award</strong></font></td>
          </tr>
          
          <tr>
              <td>11:20-11:45</td>
              <td> <strong>Benchmarking Cutting-Edge Scientific Error-Bounded Lossy Compressors on Correlation-Based Rate-Distortion</strong> (full paper) <br/>Ziwei Qiu, Jinyang Liu, Kai Zhao, Robert Underwood, Sheng Di<br/><font color="#8E236B"> <strong>Best Paper Runner-up Award</strong></font></td> 
          </tr>
            <tr>
              <td>11:45-12:10</td>
              <td> <strong>Data Management System Analysis for Distributed Computing Workloads</strong> (full paper)<br/>Kuan-Chieh Hsu, Sairam Sri Vatsavai, Ozgur O. Kilic, Sankha Dutta, Yihui (Ray) Ren, David Park, Tania Korchuganova, Joseph Boudreau, Tasnuva Chowdhury, Shengyu Feng, Raees Ahmad Khan,  Jaehyung Kim, Norbert Podhorszki, Scott Klasky, Tadashi Maeno, Paul Nilsson, Verena Ingrid Martinez Outschoorn, Fred Suter, Wei Yang, Yiming Yang, Shinjae Yoo, Alexei Klimentov, Adolfy Hoisie</td>
          </tr>
          <tr>
              <td>12:10-12:30</td>
              <td> <strong>Building n-Dimensional Trees for Resolution-Based Progressive Compression</strong> (short paper)<br/>Brandon Alexander Burtchell, Martin Burtscher </td>
          </tr>
          <tr>
              <td>12:30-14:00</td>
              <td> <strong>Lunch Break</strong> </td>
          </tr>
           <tr>
              <td>14:00-14:20</td>
              <td> <strong>FZModules: A Heterogeneous Computing Framework for Customizable Scientific Data Compression Pipelines</strong> (short paper)<br/>Skyler Ruiter, Jiannan Tian, Fengguang Song<br/><font color="#8E236B"> <strong>Best Short Paper Award</strong></font></td>
          </tr>
          <tr>
              <td>14:20-14:40</td>
              <td> <strong>On the Compressibility of Floating-Point Data in Posit and IEEE-754 Representation</strong> (short paper)<br/>Andrew Rodriguez, Martin Burtscher</td>
          </tr>
          <tr>
              <td>14:40-15:00</td>
              <td> <strong>ASCRIBE-XR: Extended Reality for Visualization of Scientific Images</strong> (short paper)<br/>Ronald J. Pandolfi, Julian Todd, Jeffrey J Donatelli, Daniela Ushizima</td>
          </tr>
          
          <tr>
            <td>15:00-15:30</td>
            <td><strong>Afternoon Break</strong></td>
          </tr>
          <tr>
              <td>15:30-15:55</td>
              <td> <strong>Lightweight CNN-Based Artifact Reduction for Scientific Error-bounded Lossy Compression</strong> (full paper)<br/>Zizhe Jian, Pu Jiao, Bohan Zhang, Sheng Di, Xin Liang, Guanpeng Li, Huangliang Dai, Zizhong Chen, Franck Cappello</td>
          </tr>
          <tr>
              <td>15:55-16:20</td>
              <td> <strong>Compression Error Sensitivity Analysis for Different Experts in MoE Model Inference</strong> (full paper)<br/>Songkai Ma, Zhaorui Zhang, Sheng Di, Benben Liu, Xiaodong Yu, Guanpeng Li, Xiaoyi Lu, Dan Wang</td>
          </tr>
          <tr>
              <td>16:20-16:45</td>
              <td> <strong>Characterizing the Performance of Parallel Data-Compression Algorithms across Compilers and GPUs</strong> (full paper)<br/>Brandon Alexander Burtchell, Martin Burtscher</td>
          </tr>
          <tr>
              <td>16:45-17:10</td>
              <td> <strong>Integrating Distributed SQL Query Engines with Object-Based Computational Storage</strong> (full paper)<br/> Junghyun Ryu, Soon Hwang, Junhyeok Park, Seonghoon Ahn, JeoungAhn Park, Jeongjin Lee, Jinna Yang, Soonyeal Yang, Jungki Noh, Qing Zheng, Woosuk Chung, Hoshik Kim, Youngjae Kim</td>
          </tr>
        
          
          
        </table>
        </div>
        <!-- <br/>
        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="images/2023/attendance1.jpeg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="images/2023/attendance2.jpeg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="images/2023/attendance3.jpeg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            <br/>
        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="images/2023/attendance4.jpeg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="images/2023/attendance5.jpeg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="images/2023/attendance6.jpeg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div> -->
    </section>