    <section id="submission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Submission</h2>
                    <h4 class="section-subheading text-muted"></h4>
                </div>
            </div>
            <h2>Important Dates</h2>

            <p>Full Paper submission deadline: <b><font color="#8E236B"> <s>August 16, 2024</s> August 19, 2024 (AoE)</font></b></p>

            <p>Author notification: <b><font color="#8E236B">September 6, 2024</font></b></p>

            <p>Camera-ready final papers submission deadline: <b><font color="#8E236B">September 27, 2024 (AoE)</font></b></p>

            <p>AD/AE submission deadline: <b><font color="#8E236B"><s>October 15, 2024</s> September 27, 2024 (AoE)</font></b></p>

            <p>Remote presentation videos (Optional) submission deadline: <b><font color="#8E236B"><s>October 15, 2024</s> September 27, 2024 (AoE)</font></b></p>

       <h2>Submissions</h2>

        <p>&bull; Papers should be submitted electronically on SC Submission Website.</p>

        <p><a href="https://submissions.supercomputing.org">https://submissions.supercomputing.org</a></p>

        <p>&bull; Paper submission should be in single-blind IEEE Format.</p>

        <p><a href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html">http://www.ieee.org/conferences_events/conferences/publishing/templates.html</a></p>

        <p><b><font color="red"> &bull; DRBSD-10 will accept full papers (10 pages including references/appendix) and short papers (6 pages excluding references/appendix).</font></b></p>

        <p>&bull; Submitted papers will be evaluated by at least 3 reviewers based upon technical merits.</p>

        <p>&bull; DRBSD-10 encourages submissions to provide artifact description and evaluation. Details for SC'24 Reproducibility Initiative: <a href="https://sc24.supercomputing.org/program/papers/reproducibility-initiative">https://sc24.supercomputing.org/program/papers/reproducibility-initiative</a>.</p>

        
    <p><b><font color="red"> &bull; DRBSD-10 will select papers for Best Paper Award and Best Paper Runner-up Award. All accepted papers will be included in the SC workshop proceedings.</font></b></p>
    
</div>
    </section>
