    <section id="submission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Submission</h2>
                    <h4 class="section-subheading text-muted"></h4>
                </div>
            </div>
            <h2>Important Dates</h2>

            <p>Full Paper submission deadline: <b><font color="#8E236B"> <s>August 26, 2023</s> September 5, 2023 (AoE)</font></b></p>

            <p>Author notification: <b><font color="#8E236B">September 13, 2023</font></b></p>

            <p>Camera-ready final papers submission deadline: <b><font color="#8E236B">September 23, 2023 (AoE)</font></b></p>

            <p>Remote presentation videos (Optional) submission deadline: <b><font color="#8E236B">September 30, 2023 (AoE)</font></b></p>

       <h2>Submissions</h2>

        <p>&bull; Papers should be submitted electronically on SC Submission Website.</p>

        <p><a href="https://submissions.supercomputing.org">https://submissions.supercomputing.org</a></p>

        <p>&bull; Paper submission should be in single-blind ACM format.</p>

        <p><a href="https://www.acm.org/publications/proceedings-template">https://www.acm.org/publications/proceedings-template</a></p>

        <p><b><font color="#8E236B"> &bull; DRBSD-9 will accept full papers (limited to 8 pages excluding references/appendix and 10 pages including references/appendix) and extended abstracts (2 pages including references). </font></b></p>

        <p>&bull; Submitted papers will be evaluated by at least 3 reviewers based upon technical merits. The accepted papers will be published with IEEE/ACM.</p>

        <p>&bull; DRBSD-9 encourages submissions to provide artifact description and evaluation but not mandatory.  Details: <a href="https://sc23.supercomputing.org/program/papers/reproducibility-initiative/">https://sc23.supercomputing.org/program/papers/reproducibility-initiative/</a> </p>
        
	<p><b><font color="#8E236B"> &bull; DRBSD-9 will select papers for Best Paper Award and Best Paper Runner-up Award. </font></b></a> </p>    
</div>
    </section>
