<!-- Portfolio Grid Section -->
    <section id="abstract" class="bg-light-gray">
        <!--<div class="container">-->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Committee Members</h1>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <script type="text/javascript">
                document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
            </script>
            <div class="black-frame about">
            <h2>Organizing Committee</h2>

                <p>Jieyang Chen, Oak Ridge National Laboratory</p>

                <p>Ana Gainaru, Oak Ridge National Laboratory</p>

                <p>Xin Liang, University of Kentucky</p>

                <p>Todd Munson, Argonne National Laboratory</p>

              <h2>Program Chair</h2>

                <p>Sheng Di, Argonne National Laboratory</p>

              <h2>Steering Committee</h2>

                <p>Ian Foster, Argonne National Laboratory/University of Chicago</p>
                <p>Scott Klasky, Oak Ridge National Laboratory</p>
                <p>Qing Liu, New Jersey Institute of Technology</p>

              <h2>Technical Program Committee</h2>
              <p>Allison Baker, NCAR </p>
              <p>Francieli Boito, Université de Bordeaux </p>
              <p>Martin Burtscher, Texas State University  </p>
              <p>Michael Bussmann, Center for Advanced Systems Understanding </p>
              <p>Frank Cappello, Argonne National Laboratory  </p>
              <p>Jieyang Chen, Oak Ridge National Laboratory </p>
              <p>Dorit Hammerling, Colorado School of Mines </p>
              <p>Xubin He, Temple University </p>
              <p>Valentin Honoré, French National Centre for Scientific Research </p>
              <p>Dan Huang, Sun Yat-sen University </p>
              <p>Xin Liang, University of Kentucky </p>
              <p>Qing Liu, New Jersey Institute of Technology </p>
              <p>Peter Lindstrom, Lawrence Livermore National Laboratory </p>
              <p>Todd Munson, Argonne National Laboratory </p>
              <p>Dingwen Tao, Washington State University </p>
              <p>John Wu, Lawrence Berkeley National Laboratory </p>
              <p>Wen Xia, Harbin Institute of Technology </p>

            <!--<div class="row">-->
            <!--{% for team in site.data.twenty_17.teams %}-->
                <!--<div class="col-md-4 col-sm-6 speakers-item">-->
                    <!--<a href="#{{ team.name }}" class="speakers-link" data-toggle="modal">-->
                        <!--<div class="speakers-hover">-->
                            <!--<div class="speakers-hover-content">-->
                                <!--<i class="fa fa-plus fa-3x"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<img src="../css/2017_style/img/team/{{ team.thumbnail }}" class="img-responsive img-centered" alt="">-->
                    <!--</a>-->
                    <!--<div class="speakers-caption">-->
                        <!--<h4>aaaaaaaaaa</h4>-->
                        <!--<p class="text-muted">{{ team.subtitle }}</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--{% endfor %}-->
            <!--</div>-->
            </div>
        <!--</div>-->
    </section>
