<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

  {% include 2025_data/head.html %}


    <body id="page-top" class="index">

    {% include 2025_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><font size="10">DRBSD 2025</font><br></div>
                <div class="intro-lead-in">The 11th International Workshop on Data Analysis and Reduction for Big Scientific Data</div>
                <div class="intro-lead-in">&nbsp;</div>
                <div class="intro-lead-in">Nov 17th, 2025</div>
                <div class="intro-lead-in">St. Louis, MO</div>
                <!--<div class="intro-lead-in">In cooperation with TCHPC: Technical Consortium on High Performance Computing</div>-->
                <!--<div class="intro-lead-in">Held in conjunction with SC21: The International Conference for High Performance Computing, Networking, Storage and Analysis</div>-->
                <!--<a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>-->
            </div>
        </div>
    </header>

    {% include 2025_data/intro.html %}
    <!-- {% include 2025_data/program.html %} -->
    {% include 2025_data/abstract.html %}
    {% include 2025_data/submission.html %}
    {% include 2025_data/committee.html %}
    {% include 2025_data/about.html %}
    {% include 2025_data/prior.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
